@import "tailwindcss";

@theme inline {
  --font-sans: 'Inter', ui-sans-serif, system-ui, -apple-system, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased bg-neutral-950 text-neutral-50;
}

/* 自定义选中样式 */
::selection {
  @apply bg-neutral-700 text-white;
}
